.upper_header {
  grid-area: upper_header;
}

.aside {
  grid-area: aside;
}

.message_grid {
  grid-area: message_grid;
}

/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
.star {
  grid-area: star;
}

.sender {
  grid-area: sender;
}

.attach {
  grid-area: attach;
}

.date {
  grid-area: date;
}

.message_text {
  grid-area: message_text;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: clamp(12px, 4vw, 22px);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  background-color: #151515;
}

.splash_block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 900px;
  width: 1600px;
  background-image: url(../scss/assets/Rectangle\ 3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: contrast(120%);
          filter: contrast(120%);
}
.splash_block:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 0, 0, 0)), to(#35005F));
  background: linear-gradient(to left, rgba(255, 0, 0, 0) 0%, #35005F 100%);
}
.splash_block .Nav_menu {
  position: absolute;
  left: -375px;
  z-index: 9;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-flex-item-align: center;
      align-self: center;
  height: 50px;
}
.splash_block .Nav_menu li {
  padding: 15px;
}
.splash_block .Nav_menu li a {
  font-size: 24px;
  color: aliceblue;
}
.splash_block .Nav_menu li a:active {
  color: rgb(17, 103, 179);
}
.splash_block .Nav_menu li a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: rgb(37, 108, 170);
}
.splash_block .splash_info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 800px;
  position: absolute;
  left: 250px;
  z-index: 9;
  color: aliceblue;
}
.splash_block .splash_info .frontblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.splash_block .splash_info .frontblock img {
  display: block;
  width: 130px;
}
.splash_block .splash_info .frontblock .textblock h1 {
  font-size: 100px;
  font-weight: 900;
  font-style: italic;
}
.splash_block .splash_info .frontblock .textblock h3 {
  font-size: 45px;
  font-weight: 600;
}
.splash_block .splash_info ul {
  line-height: 1.5;
}
.splash_block .splash_info ul li {
  font-size: 30px;
  font-weight: 300;
  list-style: inside;
}
.splash_block .splash_info button {
  border-radius: 10px;
  border: none;
  width: 300px;
  height: 50px;
  color: #E73AB8;
}
.splash_block .splash_info button:active {
  background-color: rgba(82, 8, 143, 0.3960784314);
}
.splash_block .splash_info button:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .splash_block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: min(740px, 90vh);
    width: min(460px, 100vw);
    background-image: url(../scss/assets/Rectangle\ 3.png);
    background-position: 100%;
    background-size: 200vh;
    -webkit-filter: contrast(120%);
            filter: contrast(120%);
  }
  .splash_block:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    background: -webkit-gradient(linear, right top, left top, from(rgba(255, 0, 0, 0)), to(#35005F));
    background: linear-gradient(to left, rgba(255, 0, 0, 0) 0%, #35005F 100%);
  }
  .splash_block .Nav_menu {
    display: none;
  }
  .splash_block .splash_info {
    position: relative;
    left: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        align-self: center;
    gap: 15px;
    width: 20rem;
    z-index: 9;
    color: aliceblue;
  }
  .splash_block .splash_info .frontblock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 20px;
  }
  .splash_block .splash_info .frontblock img {
    display: block;
    width: 5rem;
  }
  .splash_block .splash_info .frontblock .textblock h1 {
    font-size: 2.2rem;
    font-weight: 900;
    font-style: italic;
  }
  .splash_block .splash_info .frontblock .textblock h3 {
    font-size: 1rem;
    font-weight: 600;
  }
  .splash_block .splash_info ul li {
    font-size: 1.3rem;
    font-weight: 300;
    list-style: inside;
  }
  .splash_block .splash_info button {
    border-radius: 10px;
    border: none;
    width: 12rem;
    height: 2rem;
    color: #E73AB8;
  }
  .splash_block .splash_info button:active {
    background-color: rgba(82, 8, 143, 0.3960784314);
  }
  .splash_block .splash_info button:hover {
    cursor: pointer;
  }
}
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 900px;
  width: 1600px;
  background-color: #151515;
  background-image: url(../scss/assets/GEO-TERRAIN4-20\ 1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: aliceblue;
}
.contacts .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1400px;
  line-height: 1.4;
  gap: 20px;
}
.contacts .contact-container .find-us {
  background-color: rgba(71, 68, 68, 0.1843137255);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 40px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.contacts .contact-container .find-us h1 {
  font-size: 50px;
  font-weight: 900;
  font-style: italic;
}
.contacts .contact-container .find-us * * span, .contacts .contact-container .find-us * span {
  font-weight: 700;
}
.contacts .contact-container .find-us button {
  border-radius: 10px;
  border: none;
  width: 300px;
  height: 50px;
  color: #E73AB8;
}
.contacts .contact-container .find-us button:active {
  background-color: rgba(82, 8, 143, 0.3960784314);
}
.contacts .contact-container .find-us button:hover {
  cursor: pointer;
}
.contacts .contact-container .map {
  border-radius: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: min(1140px, 160vh);
    width: min(420px, 100vw);
    background-color: #151515;
    background-image: url(../scss/assets/GEO-TERRAIN4-20\ 1.svg);
    background-position: center;
    background-size: cover;
    color: aliceblue;
  }
  .contacts .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 1.4;
    gap: 20px;
  }
  .contacts .contact-container .find-us {
    background-color: rgba(71, 68, 68, 0.1843137255);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 40px;
    height: 60vh;
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .contacts .contact-container .find-us h1 {
    font-size: 2rem;
    font-weight: 900;
    font-style: italic;
  }
  .contacts .contact-container .find-us * * span, .contacts .contact-container .find-us * span {
    font-weight: 700;
  }
  .contacts .contact-container .find-us button {
    border-radius: 10px;
    border: none;
    width: 14rem;
    height: 4vh;
    color: #E73AB8;
  }
  .contacts .contact-container .find-us button:active {
    background-color: rgba(82, 8, 143, 0.3960784314);
  }
  .contacts .contact-container .find-us button:hover {
    cursor: pointer;
  }
  .contacts .contact-container .map {
    width: 80vw;
    border-radius: 20px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.discounts {
  background-color: #0e0e0e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1000px;
  width: 1600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  color: aliceblue;
  overflow: hidden;
}
.discounts h1 {
  font-size: 60px;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 40px;
}

.backshapes {
  position: absolute;
  z-index: 0;
}

.shape1 {
  height: 800px;
  left: 0px;
  top: -180px;
}

.shape2 {
  height: 1800px;
  right: -10px;
  top: -50px;
}

.discontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 800px;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.discontainer .grid1 {
  display: grid;
  gap: 20px;
  grid-template-columns: 500px;
  grid-template-rows: 250px 250px 250px;
}
.discontainer .grid1 div:hover {
  -webkit-transform: translateY(-10px) translateX(-10px);
          transform: translateY(-10px) translateX(-10px);
}
.discontainer .grid1 * {
  background-color: rgba(71, 68, 68, 0.1843137255);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.discontainer .grid1 *:hover {
  background-color: rgba(204, 167, 167, 0.1843137255);
}
.discontainer .grid1 a {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  color: #FFFFFF;
}
.discontainer .grid2 {
  display: grid;
  gap: 20px;
  grid-template-columns: 350px;
  grid-template-rows: 350px 350px;
}
.discontainer .grid2 div:hover {
  -webkit-transform: translateY(-10px) translateX(-10px);
          transform: translateY(-10px) translateX(-10px);
}
.discontainer .grid2 * {
  background-color: rgba(71, 68, 68, 0.1843137255);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.discontainer .grid2 *:hover {
  background-color: rgba(204, 167, 167, 0.1843137255);
}
.discontainer .grid2 a {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  color: #FFFFFF;
}
.discontainer .grid3 {
  display: grid;
  gap: 20px;
  grid-template-columns: 250px;
  grid-template-rows: 250px 250px;
}
.discontainer .grid3 div:hover {
  -webkit-transform: translateY(-10px) translateX(-10px);
          transform: translateY(-10px) translateX(-10px);
}
.discontainer .grid3 * {
  background-color: rgba(71, 68, 68, 0.1843137255);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.discontainer .grid3 *:hover {
  background-color: rgba(204, 167, 167, 0.1843137255);
}
.discontainer .grid3 a {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .discounts {
    background-color: #0e0e0e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: min(1440px, 110vh);
    width: min(420px, 100vw);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: aliceblue;
    overflow: hidden;
  }
  .discounts h1 {
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 2px;
    text-align: center;
  }
  .backshapes {
    position: absolute;
    z-index: 0;
  }
  .shape1 {
    height: 400px;
    left: 0px;
    top: -180px;
  }
  .shape2 {
    height: 800px;
    right: -10px;
    top: 50px;
  }
  .discontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 800px;
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .discontainer .grid1 {
    display: grid;
    gap: 20px;
    grid-template-columns: min(300px, 100vw);
    grid-template-rows: 250px 250px 250px;
  }
  .discontainer .grid1 div:hover {
    -webkit-transform: translateY(-10px) translateX(-10px);
            transform: translateY(-10px) translateX(-10px);
  }
  .discontainer .grid1 * {
    background-color: rgba(71, 68, 68, 0.1843137255);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .discontainer .grid1 *:hover {
    background-color: rgba(204, 167, 167, 0.1843137255);
  }
  .discontainer .grid1 a {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    color: #FFFFFF;
  }
  .discontainer .grid2 {
    display: none;
  }
  .discontainer .grid3 {
    display: none;
  }
}
.gallery {
  background-color: #0e0e0e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 900px;
  width: 1600px;
  background-image: url(../assets/Shape\ branco\ -\ @manow\ \(20\)\ 2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  color: aliceblue;
}
.gallery .gal-container {
  padding: 2rem;
  width: 100%;
}
.gallery .slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}
.gallery .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  anchor-name: --carousel;
  -webkit-box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
          box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.gallery .slider::scroll-button(*) {
  position: fixed;
  position-anchor: --carousel;
}
.gallery .slider::scroll-button(right) {
  position-area: inline-end center;
  content: url(../scss/assets/arrows/right-arrow.png);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.gallery .slider::scroll-button(left) {
  position-area: inline-start center;
  content: url(../scss/assets/arrows/left-arrow.png);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.gallery .slider::scroll-marker-group {
  position: fixed;
  position-anchor: --carousel;
  position-area: block-end;
  margin: 10px;
  display: grid;
  grid-auto-columns: 20px;
  grid-auto-flow: column;
  gap: 20px;
}
.gallery .slider::-webkit-scrollbar {
  display: none;
}
.gallery .slider img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  scroll-snap-align: start;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}
.gallery .slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  -webkit-transition: opacity ease 250ms;
  transition: opacity ease 250ms;
}
.gallery .slider-nav a:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .gallery {
    background-color: #0e0e0e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: min(340px, 100vh);
    width: min(420px, 100vw);
    background-image: url(../assets/Shape\ branco\ -\ @manow\ \(20\)\ 2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;
    color: aliceblue;
  }
  .gallery .gal-container {
    padding: 2rem;
    width: 100%;
  }
  .gallery .slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
  }
  .gallery .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    -webkit-box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
            box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .gallery .slider::scroll-button(*) {
    position: fixed;
    left: -21px;
    position-anchor: --carousel;
  }
  .gallery .slider::scroll-button(right) {
    position-area: inline-end center;
    scale: 0.4;
    content: url(../scss/assets/arrows/right-arrow.png);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .gallery .slider::scroll-button(left) {
    position-area: inline-start center;
    scale: 0.4;
    content: url(../scss/assets/arrows/left-arrow.png);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .gallery .slider::scroll-marker-group {
    position: fixed;
    position-anchor: --carousel;
    position-area: block-end;
    margin: 10px;
    display: grid;
    grid-auto-columns: 20px;
    grid-auto-flow: column;
    gap: 20px;
  }
  .gallery .slider::-webkit-scrollbar {
    display: none;
  }
  .gallery .slider img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    scroll-snap-align: start;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .gallery .slider-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1;
  }
  .gallery .slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    -webkit-transition: opacity ease 250ms;
    transition: opacity ease 250ms;
  }
  .gallery .slider-nav a:hover {
    opacity: 1;
  }
}
.zones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 900px;
  width: 1600px;
  background-color: #151515;
  background-image: url(../scss/assets/GEO-TERRAIN4-20\ 1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: aliceblue;
}
.zones fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 70px;
  border: 3px solid #FFFFFF;
  width: 1400px;
  height: 700px;
}
.zones fieldset legend {
  text-align: center;
  font-size: 43px;
  font-weight: 300;
  padding: 0 20px;
}
.zones fieldset .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 20px;
  background-color: #1F1F1F;
  width: 350px;
  height: 550px;
  border-radius: 30px;
  border: 3px solid rgba(255, 255, 255, 0.137254902);
  outline: 20px solid #1F1F1F;
  font-size: 30px;
  font-weight: 300;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.zones fieldset .box:hover {
  -webkit-transform: translateY(-10px) translateX(-10px);
          transform: translateY(-10px) translateX(-10px);
  background-color: #313131;
}
.zones fieldset .box p {
  color: rgba(255, 255, 255, 0.3019607843);
}
.zones fieldset .box h1 {
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
}
.zones fieldset .box1 img {
  width: 250px;
  border: 3px solid #E637B7;
  border-radius: 10px;
  padding: 20px;
}
.zones fieldset .box1 a {
  color: #E637B7;
}
.zones fieldset .box2 img {
  width: 250px;
  border: 3px solid #149EF2;
  border-radius: 10px;
  padding: 20px;
}
.zones fieldset .box2 a {
  color: #149EF2;
}
.zones fieldset .box3 img {
  width: 250px;
  border: 3px solid #3A4EFF;
  border-radius: 10px;
  padding: 20px;
}
.zones fieldset .box3 a {
  color: #3A4EFF;
}

@media (max-width: 768px) {
  .zones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    height: min(1740px, 230vh);
    width: min(460px, 100vw);
    background-color: #151515;
    background-image: url(../scss/assets/GEO-TERRAIN4-20\ 1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
  }
  .zones fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 70px;
    border: 3px solid rgba(255, 255, 255, 0);
  }
  .zones fieldset legend {
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 2.1rem;
    font-weight: 300;
    padding: 0 20px;
  }
  .zones fieldset .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 20px;
    background-color: #1F1F1F;
    width: min(300px, 100vw);
    height: min(550px, 100vh);
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.137254902);
    outline: 20px solid #1F1F1F;
    font-size: 1.5rem;
    font-weight: 300;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .zones fieldset .box:hover {
    -webkit-transform: translateY(-10px) translateX(-10px);
            transform: translateY(-10px) translateX(-10px);
    background-color: #313131;
  }
  .zones fieldset .box p {
    color: rgba(255, 255, 255, 0.3019607843);
  }
  .zones fieldset .box h1 {
    font-size: 2rem;
    font-weight: 900;
    font-style: italic;
  }
  .zones fieldset .box1 img {
    width: 250px;
    border: 3px solid #E637B7;
    border-radius: 10px;
    padding: 20px;
  }
  .zones fieldset .box1 a {
    color: #E637B7;
  }
  .zones fieldset .box2 img {
    width: 250px;
    border: 3px solid #149EF2;
    border-radius: 10px;
    padding: 20px;
  }
  .zones fieldset .box2 a {
    color: #149EF2;
  }
  .zones fieldset .box3 img {
    width: 250px;
    border: 3px solid #3A4EFF;
    border-radius: 10px;
    padding: 20px;
  }
  .zones fieldset .box3 a {
    color: #3A4EFF;
  }
}
.pac_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 50vh;
  width: 30%;
}

.pacman {
  position: relative;
  background: transparent;
  z-index: 1;
}

.pacman::before, .pacman::after {
  position: absolute;
  top: -35px;
  display: block;
  border-radius: 50%;
  content: "";
  height: 0;
  width: 0;
}

.pacman::before {
  -webkit-animation: chunk-top 0.5s ease infinite;
          animation: chunk-top 0.5s ease infinite;
  border: 35px solid yellow;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.pacman::after {
  -webkit-animation: chunk-bottom 0.5s ease infinite;
          animation: chunk-bottom 0.5s ease infinite;
  border: 35px solid yellow;
  border-right-color: transparent;
  border-top-color: transparent;
}

.path {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-animation: eating-path 0.5s linear infinite;
          animation: eating-path 0.5s linear infinite;
  width: 100%;
}

.path::before {
  background: #fff;
  border-radius: 50%;
  content: "";
  height: 1rem;
  width: 1rem;
}

@-webkit-keyframes chunk-top {
  0%, 100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(-80deg);
            transform: rotate(-80deg);
  }
}

@keyframes chunk-top {
  0%, 100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(-80deg);
            transform: rotate(-80deg);
  }
}
@-webkit-keyframes chunk-bottom {
  0%, 100% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes chunk-bottom {
  0%, 100% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes eating-path {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@keyframes eating-path {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.popover {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  height: 100%;
  margin: 0 auto;
  z-index: 15;
  border: none;
  overflow: hidden;
}

.popover-window {
  position: relative;
  top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px;
  width: 550px;
  height: 500px;
  border-radius: 30px;
  color: aliceblue;
  background-color: #1F1F1F;
  border: 3px solid rgba(255, 255, 255, 0.137254902);
  outline: 20px solid #1F1F1F;
  font-size: 30px;
  font-weight: 300;
  padding: 20px;
}
.popover-window:before {
  content: url(../scss/assets/arrows/Vector\ 1.svg);
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  position: absolute;
  top: 30px;
  right: 0px;
}
.popover-window:after {
  content: url(../scss/assets/arrows/Vector\ 2.svg);
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  position: absolute;
  bottom: 27px;
  right: -5px;
}
.popover-window h2 {
  font-size: 33px;
  font-weight: 400;
  position: relative;
  left: 20px;
}

.my_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.my_form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}
.my_form input, .my_form textarea {
  background-color: black;
  border-radius: 10px;
  color: aquamarine;
  height: 30px;
  border: none;
  outline: 3px solid #1F1F1F;
  max-width: 300px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 20px;
}
.my_form input:focus, .my_form textarea:focus {
  outline: 3px solid #555;
}
.my_form textarea {
  resize: none;
  height: 100px;
  width: 300px;
}
.my_form .book-button {
  border-radius: 10px;
  border: none;
  width: 250px;
  height: 50px;
  color: #E73AB8;
}

.gamepad {
  height: 200px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  position: absolute;
  right: -100px;
  top: 160px;
}

.popover-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.popover-close .close-btn {
  display: block;
  background-color: rgba(255, 255, 255, 0.3882352941);
  border-radius: 50%;
  border: 2px rgba(255, 255, 255, 0.137254902) solid;
  position: absolute;
  scale: 0.5;
  top: -10px;
  right: -10px;
}